.navbarContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:10px 25px;
    border: 2px solid black;
}

.navbarContainer ul{
    display: flex;
    gap:25px;
    list-style: none;
    align-items: center;
}

.navbarContainer a{
    text-decoration: none;
    color:black;
}

.navbarContainer span{
    font-weight: bolder;
}

.navbarHeader{
    font-size: 30px;
}

.spanNavbar{
    color: #f0371a;
    font-size: 30px;
    
}