.navbarContainer{
    border:2px solid red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 25px;
}

.navbarContainer ul{
    display: flex;
    gap:25px;
    list-style: none;
}

.navbarContainer a{
    text-decoration: none;
    color:black;
}

.navbarContainer span{
    font-weight: bolder;
}

.navbarHeader{
    font-size: 30px;
}