/* nav{
    border:2px solid rgb(10, 45, 220);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 5px;
} */

.navButtons{
    display: flex;
    gap:30px;
    list-style: none;
    justify-content: end;
    align-items: center;
}

.navButtons li a{
    text-decoration: none;
}

.active{
    border-bottom: 2px solid rgb(255, 255, 255);
}

