.Container{
    height: 57px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:0 20px;
    gap:15px;
    font-size: 11px;
    font-weight: 400;
    background-color: black;
    color:white
}

.icons{
    display: flex;
    align-items: center;
    gap:17px;
    margin-left:15px;
    margin-right:-5px;
    justify-content: right;
    margin-left:8px;
}

.options img{
    width:15px;
    height:15px;   
}

.img img{
    border-radius: 50%;
    width:32px;
    height:32px;

}