.Container {
  height: 30px;
  border:2px solid red;
}
.Container ul {
  display: flex;
  justify-content: first;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 0 12px;
}

.Container ul li {
  list-style: none;
  font-size: 10px;
}
