.container{
    width:505px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:5px;
}

.container img{
    width:45%;
    height:100px;

}

.search{
    height:43px;
    width:100%;
    background-color: #dddada;
    border-radius:30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    box-sizing: border-box;
}

.search p{
    margin:0px 8px;
}

.ico{
    font-size: 15px;
}

.searchText{
    width:390px;
    font-size:13.5px;
    font-weight:lighter;
    color:#bbb6b6
}