.postContainer{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px 100px;

}

.searchTagsHome{
    flex-direction:row;
    justify-content:center;
    margin-bottom: 50px;
}

.searchTagsHome input{
    width:30%;
    min-width: 300px;
}

img{
    width:60%;
    height: auto;
}


.loadingPost{
    text-align: center;
    font-family: 'borel';
}