*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair-display';
    font-weight: 600;      
}

p, a, span, button, input::placeholder, b, input, ul, li, textarea{
    font-family: 'lato', sans-serif;
    font-weight: 400;
       
}

.Ativo{
    border-bottom: 2px solid #3e6b48;
    padding:2px
}

button{
    border: 2px solid black;
    border-radius: 3px;
    padding:5px;
    font-size: 16px;
    background-color: white;
    transition: .4s all ease;
    margin:5px;
    min-width: 70px;
}

button:hover{
    background-color: black;
    color:white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    width:20%;
    min-width: 300px;
    margin-bottom: 15px;
}


input{
    padding:4px;
    border-radius: 5px;
    border:2px solid #3e6b48;
    height:35px;


}

input:active, input:focus{
    border:2px solid #3e6b48;
    outline: none;
}

input::placeholder{
    font-family: 'borel';
    font-size: 12px;
}

.headerComponents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    align-items: center;
}

.headerComponents h1{
    font-size: 40px;
    padding:10px;
}

.headerComponents{
    font-size: 20px;
}

textarea{
    resize: none;
}

